<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex">
            <h6 class="m-0 font-weight-bold text-primary">Tabla de <span class="text-capitalize">{{title}}</span></h6>
            <div class="ms-auto">
                <div type="button" class="btn btn-success" data-toggle="modal" data-target="#tableModal"
                    onclick="changeModaltoCreate('{{title}}')">
                    Entrada
                </div>
                <div type="button" class="btn btn-warning" data-toggle="modal" data-target="#appendModal">
                    Columnas
                </div>
                <div type="button" class="btn btn-info" data-toggle="modal" data-target="#createModal">
                    Funciones
                </div>
                <div type="button" class="btn btn-danger" onclick="deleteElements()" id="deleteChecked">
                    Eliminar
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" tableid="{{title}}" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->


<!-- Modal -->
<div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tableModalLabel">Crear Entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/tables/{{title}}" method="PUT" id="tableForm" class="fureyForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn" id="tableFormBTN" onclick="$('#tableForm').submit()"
                    data-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <button type="button" class="close ms-auto me-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form class="row">
                <div class="col-12">
                    <div class="modal-header pt-0">
                        <h5 class="modal-title">OPERACIÓN</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="modal-header pt-0">
                        <h5 class="modal-title">VISIBLES</h5>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
                <div class="col-6">
                    <div class="modal-header pt-0">
                        <h5 class="modal-title">PERMANENTE</h5>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="createFormBTN" onclick="$('#createForm').submit()"
                    data-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="appendModal" tabindex="-1" aria-labelledby="appendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div>
                <button type="button" class="close mx-3 mt-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="modal-header pt-0">
                        <h5 class="modal-title" id="appendModalLabel">Creación</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/object" method="PUT" id="appendForm" class="fureyForm">
                            <input type="hidden" name="object" value="{{title}}">
                            <input type="hidden" name="objtype" value="col">
                            <input type="hidden" name="tableid" value="{{title}}">
                            <div class="form-group">
                                <label for="colNameInput" class="text-capitalize">Nombre de la Columna</label>
                                <input type="text" name="name" class="form-control" id="colNameInput">
                            </div>
                            <div class="form-group">
                                <label for="selectAppendForm" class="text-capitalize">Insertar a la izquierda de:</label>
                                <select class="custom-select custom-select-md text-capitalize" name="beforeof"
                                    id="selectAppendForm">
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="appendFormBTN" onclick="$('#appendForm').submit()"
                            data-dismiss="modal">Crear</button>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="modal-header pt-0">
                        <h5 class="modal-title">Eliminación</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/admin/object/{{title}}" method="DELETE" id="deleteForm" class="fureyForm">
                            <input type="hidden" name="object" value="{{title}}">
                            <input type="hidden" name="tableid" value="{{title}}">
                            <div class="form-check ms-4">
                                <input type="checkbox" class="form-check-input" name="full" value="full"
                                    id="deleteCheckItemFull">
                                <label class="form-check-label" for="deleteCheckItemFull"><strong>TODO</strong></label>
                            </div>
                            <div class="ms-4" id="deleteCheckBoxCol"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="deleteFormBTN" onclick="$('#deleteForm').submit()"
                            data-dismiss="modal">ELIMINAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fillTBodyTable('');
        fillFormTable();
    });
</script>